workDir = "${System.getenv('NXF_WORK')}"

// Process default configuration
process {
    cpus = 1
    memory = '2 GB'
    time = '2h'

    errorStrategy = 'retry'
    maxRetries = 2

    cache = 'lenient'
}

profiles {
    standard {
        executor {
            name = 'local'
        }
        process {
            withName: 'INFER_MAPPINGS' {
                memory = '8 GB'
            }
        }
    }

    slurm {
        params.script_dir = '/opt/oxo/oxo2-dataload'
        executor {
            name = 'slurm'
            queueSize = 200
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "${System.getenv('NXF_SINGULARITY_CACHEDIR')}"
            envWhitelist = 'SOLR_URL,no_proxy,JAVA_OPTS'
        }
        process {
            container = "${System.getenv('NF_CONTAINER')}"
            withName: 'DOWNLOAD_REGISTRY' {
                memory = '4 GB'
                time = '4h'
            }
            withName: 'SSSOM2JSON' {
                memory = '32 GB'
                time = '4h'
            }
            withName: 'JSON2TTL' {
                memory = '32 GB'
                time = '2h'
            }
            withName: 'INFER_MAPPINGS' {
                memory = '256 GB'
                time = '72h'
            }
            withName: 'DETERMINE_INFERENCES_TO_TRACE' {
                memory = '32 GB'
                time = '2h'
            }
            withName: 'EXPLAIN_INFERENCES_TO_TRACE' {
                memory = '256 GB'
                time = '72h'
            }
            withName: 'EXPLANATIONS_TO_JSON' {
                memory = '32 GB'
                time = '24h'
            }
        }
    }
}

def nfLogs = "${System.getenv('NXF_LOGS')}"

report {
    enabled = true
    file = "${nfLogs}/report.html"
    overwrite = true
}
timeline {
    enabled = true
    file = "${nfLogs}/timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${nfLogs}/trace.txt"
    overwrite = true
}
